<div class="container" style="padding-top:60px">
    <h1>Register</h1>
    {{#if successMessage}}
        <div class="alert alert-success">
            <strong>Success:</strong> {{successMessage}}
        </div>
        <a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a>
    {{else}}
        {{#if errorMessage}}
            <div class="alert alert-danger">
                <strong>Error:</strong> {{errorMessage}}
            </div>
        {{/if}}
        <form method="POST" action="/register">
            <div class="form-group">
                <input type="text" name="userName" placeholder="User Name" required value="{{userName}}">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" name="password2" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email Address" required value="{{email}}">
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    {{/if}}
</div>
