<div class="row">
    <div class="col-md-12">
        <h2>Items
            <a href="/Items/add" class="btn btn-success pull-right">Add Item</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Title</th>
                        <th>Item Date</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Published</th>
                        <th></th> <!-- Empty header for the remove column -->
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{postDate}}</td>
                        <td>{{price}}</td>
                        <td><a href="/items?category={{category}}">{{category}}</a></td>
                        <td>{{published}}</td>
                        <td>
                            <a href="/items/delete/{{id}}" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{#unless items}}
<div class="col-md-12 text-center">
    <strong>{{message}}</strong>
</div>
{{/unless}}
